body{
background:#fff;
font-family : Arial, Verdana, Helvetica, sans-serif;
color : #333333;
}
/*table*/
table
{
border-collapse:collapse;
}
table, td, th
{
border: none;
font-size: 12px;
padding: 2px;
text-align:center;
}

.tablefilter tr{
background:#c3c3c3;
}

.filters{
margin-bottom:5px;
}

.filterContainer{
width:100%;
}
.deptFilter{
float:right;
}
.NewHeader{
width:100%;
}

.updated{
background-color:#FFFFCC;
}

.list tr:hover{
background:#c5d0d8;
cursor: pointer; 
cursor: hand;
}

/*.list td {
text-indent: 10px;
}*/

.list table, td, th {
border: none;
border-bottom: 1px solid #b4b4b4;
font-size: 12px;
padding: 6px;
text-align: center;
}

.listpop td{
text-align: left;
padding-left:15px;
}

.listpop tr:hover{
background:#c5d0d8;
cursor: pointer; 
cursor: hand;
}

.procurement td{
text-align: left;
border:none;
}

.header td{
text-align: left;
border:none;
}

.Headers{

}

.Table{
	margin-bottom: 20px;
    height: 300px;
    overflow:auto;
}

.TableView {
margin-bottom: 20px;
min-height: 20px;
max-height:300px;
height: auto;
width: auto;
overflow: scroll;
}

th{
background:#c4c4c4;
border: 2px solid #eaeaea;
}

.schedule{
    text-align:center; 
    vertical-align:middle;
}
.schedule th{
	width:100px;
}

.scheduleField {
	text-align: center;
	vertical-align: middle;
	width: 56px;
}

/*END of TABLE*/

.actionBar{
border: 1px solid #b4b4b4;
width:100%;
height:40px;
background: -webkit-linear-gradient(#f7f7f7, #ececec); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#f7f7f7, #ececec); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#f7f7f7, #ececec); /* For Firefox 3.6 to 15 */
background: linear-gradient(#f7f7f7, #ececec); /* Standard syntax (must be last) */
}

.actionBar input{
border-radius: 2px;
background:#f4f4f4;
border:1px solid #b4b4b4;
height:25px;
}

.actionBar input:hover{
border-radius: 2px;
border:1px solid #000;
background:#f4f4f4;
height:25px;
}

.mainContainer {
margin-top: 8px;
background: #f0f0f0;
border: 1px solid #b4b4b4;
border-radius: 2px;
padding-bottom:10px;
}

.headerText {
background: #2b76b8;
color: white;
padding: 5px;
font-size: normal;
font-size: 16px;
margin-bottom:5px;
margin-top:5px;
font-weight:bold;
}

.headerText2 {
background: #2b76b8;
color: white;
width:100%;
border:1px solid #2b76b8;
font-size: normal;
font-size: 16px;
font-weight:bold;
}

#divText{
padding:5px;
}

.divText {
padding: 7px;
}
.formDiv {
    border: 1px solid #b4b4b4;
	width: 900px;
	margin: 0 auto;
	display:block;
}

.formDiv > .headerText{
margin-top:0px;
}

.formDiv > tr{
border-bottom:none;
}


.formDiv2 {
    border: 1px solid #b4b4b4;
	width: 1200px;
	margin: 0 auto;
	display:block;
}

.formDiv2 > .headerText{
margin-top:0px;
}

.formDiv2 > tr{
border-bottom:none;
}



.header{
	width:800px;
	margin-bottom:20px;
	width: 650px;
}
.actionButtonRight {
text-align: right;
margin-top: 20px;
margin-right:90px;
}

.actionButtonCenter {
text-align: center;
margin-top: 10px;
margin-bottom: 20px;
}
.generic-container{
width: 667px;
}

.required{
color:#d74747;
}
.hidden{
display:none;
}
.app{
display:none;
}
/*DISPLAY NONE - DEFAULT*/
#from,#to,#amount_movement,#tr_source_tb,#tr_destination_tb{
display:none;
}

#add_field{
margin-left:5px;
}

#add_field:hover{
margin-left:5px;
}
.url:hover{
color:#2b76b8;
cursor:pointer;
}

/*Validation Messages*/
.isa_info, .isa_success, .isa_warning, .isa_error {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;-moz-border-radius:.5em;
-webkit-border-radius:.5em;
border-radius:.5em;
	display:none;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/info.png');
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/warning.png');
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}

/*END Validation Messages*/

/*Deleted*/
.delete {
width: 90%;
height: 20px;
font-family: inherit;
font-size: 100%;
color: #444;
color: rgba(0,0,0,.8);
border: 1px solid #ddd;
background-color: #E6E6E6;
text-decoration: none;
border-radius: 2px;
margin: 2px;

}

.delete:hover {
width: 90%;
height: 20px;
font-family: inherit;
font-size: 100%;
color: #444;
color: rgba(0,0,0,.8);
border: 1px solid #ddd;
background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
text-decoration: none;
border-radius: 2px;
margin: 2px;
}

#deleteTD a{
text-decoration:none;
color:black;
font-weight:bold;
}

/*END Deleted*/
/*toolbar Button*/
#save_tmp,#back_tmp{
height:23px;
}
#back_tmp:hover{
height:24px;
}

#save_tmp:hover{
height:24px;
}

.tabs {
background: #2B759B;
height: 30px;
color: white;
}

.tabs:hover {
background: #f0f0f0;
color: black;
height: 30px;
}

.selected {
background: #f0f0f0;
color: black;
}

.addedclass{
background:#c5d0d8;
cursor: pointer; 
cursor: hand;
}

input:not(.fieldLookUp)[readonly]
{
    background:rgb(233, 233, 233);
	border: 1px solid rgb(189, 189, 189);
}

input:not(.fieldLookUp)[readonly="readonly"]
{
    background:rgb(233, 233, 233);
	border: 1px solid rgb(189, 189, 189);
}
